.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#ed39b4, #5edbdb);
}
.titulo {
    font-size: 65px;
    color: #000000;
    text-transform: uppercase;
    animation: titulo 3s;
}
@keyframes titulo {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}
.input-cep {
    background-color: #ed39b456;
    padding: 15px;
    border-radius: 10px;
    margin: 34px 0;
    display: flex;
    box-shadow: 1px 3 px 8px #ff00ae50;
}
.input-cep input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: black;
    outline: none;
    margin-right: 8px;
}
.input-cep input::placeholder {
    color: black;
}
.pesquisar {
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.pesquisar:hover {
    transform: scale(1.2);
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ed39b456;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
}
.main h2 {
    font-size: 25px;
    margin: 10px 0;
}
.main span{
    margin-bottom: 10px;
    font-weight: bold;
}
@media (max-width: 620px) {
    .titulo {
        font-size: 45px;
    }
    .main {
        width: 80%;
        min-height: 250px;
    }
}